<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html lang="en">
    <head>
        <!-- Title -->
        <title>Chinese JING Liqueur</title>

        <!-- Required Meta Tags Always Come First -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico">

        <!-- Google Fonts -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700">

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}">

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="{% static 'assets/vendor/icon-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/icon-hs/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/icon-line-pro/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/dzsparallaxer/dzsparallaxer.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/dzsparallaxer/dzsscroller/scroller.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/dzsparallaxer/advancedscroller/plugin.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/slick-carousel/slick/slick.css' %}">

        <link rel="stylesheet" href="{% static 'assets/vendor/animate.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/hamburgers/hamburgers.min.css' %}">

        <!-- CSS Unify -->
        <link rel="stylesheet" href="{% static 'assets/css/unify.css' %}">

        <!-- CSS Customization -->
        <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    </head>

  <body>
    <main>
      
      <!-- Header -->
      <header id="js-header" class="u-header u-header--static">
        <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
          <nav class="js-mega-menu navbar navbar-toggleable-md">
            <div class="container">
              <!-- Responsive Toggle Button -->
              <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-right-0" type="button"
                      aria-label="Toggle navigation"
                      aria-expanded="false"
                      aria-controls="navBar"
                      data-toggle="collapse"
                      data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->

              <!-- Logo -->
              <a href="{% url 'index' %}" class="navbar-brand">
                <img src="{% static 'image/jingpai/Jing-Logo.png' %}" alt="Image Description">
              </a>
              <!-- End Logo -->

              <!-- Navigation -->
              <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
                <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                  <!-- Intro -->
                  <li class="nav-item g-mx-10--lg g-mx-15--xl">
                    <a href="#" class="nav-link g-py-7 g-px-0">Intro</a>
                  </li>
                  <li class="nav-item g-mx-10--lg g-mx-15--xl">
                    <a href="#product" class="nav-link g-py-7 g-px-0">Product</a>
                  </li>
                  <li class="nav-item g-mx-10--lg g-mx-15--xl">
                    <a href="#brand" class="nav-link g-py-7 g-px-0">Brand</a>
                  </li>
                  <li class="nav-item g-mx-10--lg g-mx-15--xl">
                    <a href="#events" class="nav-link g-py-7 g-px-0">Events</a>
                  </li>
                  
                  <!-- End Intro -->

            
                </ul>
              </div>
              <!-- End Navigation -->

              <div class="d-inline-block hidden-xs-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
                <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" href="#" target="_blank">Contact Us</a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- End Header -->
      
      <!-- Promo Block -->
      <section class="container g-pt-50" id="promo">
        <div class="u-shadow-v24 g-bg-white rounded g-pa-20">
          <div class="g-bg-cover g-bg-img-hero g-bg-black-opacity-0_1--after g-px-20 g-py-200" style="background-image: url({% static 'image/jingpai/jingjiu.jpg' %});">
            <div class="text-center g-pos-rel g-z-index-1">
              <span class="d-block g-color-white g-font-size-20 text-uppercase g-letter-spacing-5 g-mb-50">Welcome To</span>
              <h1 class="d-inline-block g-brd-around g-brd-2 g-brd-white g-color-white g-font-weight-700 g-font-size-20 g-font-size-50--md text-uppercase g-line-height-1_2 g-letter-spacing-5 g-py-12 g-px-20 g-mb-50">JING Liqueur</h1>
              <p class="g-color-white g-font-size-20 text-uppercase g-letter-spacing-5 mb-0">Male Tonic</p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Promo Block -->
      
      <!--product block-->
      <section class="container g-pt-100 g-pb-40" id="product">
        <div class="row justify-content-between">
          <div class="col-lg-5 flex-lg-unordered g-mt-50--lg g-mb-60">
            <div class="mb-2">
              <div class="d-inline-block g-width-20 g-height-2 g-pos-rel g-top-minus-4 g-bg-primary mr-2"></div>
              <span class="g-color-gray-dark-v3 g-font-weight-600 g-font-size-12 text-uppercase">Product</span>
            </div>
            <h2 class="h1 g-color-black g-font-weight-600 g-mb-35">
              <span class="g-color-primary">Jing Liqueur</span></h2>
            <p class="g-font-size-17">JING Liqueur is a subtle alchemy of many kinds of lants and spices formulated according to the principles of Chinese traditional medicine to achieve the harmonious balance of the Yin and Yang. </p>
            <p class="g-font-size-17 mb-4">Essences of herbs and spices are extracted and blended synergistically into the liquor base, giving Jing Liqueur the distinctive aroma, appearance, taste, and health benefits.</p>

            <a class="g-font-weight-600" href="#component">
              The Composition component
              <span class="align-middle u-icon-v3 g-pos-rel g-top-minus-2 g-width-20 g-height-20 g-color-white g-bg-primary g-font-size-12 rounded-circle ml-3">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>

          <div class="col-lg-6 flex-lg-first g-mb-60">
            <div class="masonry-grid row g-mx-minus-5">
              <div class="masonry-grid-sizer col-sm-1"></div>

              <div class="masonry-grid-item col-sm-5 g-px-5 g-mb-10">
                <img class="img-fluid w-100" src="{% static 'image/jingpai/product/1.jpg' %}" alt="Image description">
              </div>
              
              <div class="masonry-grid-item col-sm-5 g-px-5 g-mb-10">
                <img class="img-fluid w-100" src="{% static 'image/jingpai/product/2.jpg' %}" alt="Image description">
              </div>
              
              <div class="masonry-grid-item col-sm-5 g-px-5 g-mb-10">
                <img class="img-fluid w-100" src="{% static 'image/jingpai/product/3.jpg' %}" alt="Image description">
              </div>
              
              <div class="masonry-grid-item col-sm-5 g-px-5 g-mb-10">
                <img class="img-fluid w-100" src="{% static 'image/jingpai/product/4.jpg' %}" alt="Image description">
              </div>

            </div>
          </div>
        </div>
      </section>
      <!--end of product block-->
      
      <!--component block-->
      <section class="g-brd-bottom g-brd-gray-light-v4" id="component">
        <div class="container g-py-100">
          <h2 class="g-color-black g-font-weight-600 text-center g-mb-60">The Composition component</h2>

          <!-- Icon Blocks -->
          <div class="row no-gutters g-mb-50">
            <div class="col-sm-6 col-lg-3">
              <!-- Icon Blocks -->
              <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">01</span>
                <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                  <img src="{% static 'image/jingpai/component/yam.jpg' %}" alt="yam" class="u-line-icon-pro" style="height: 35px;">
                </span>
                <h3 class="h5 g-color-black g-font-weight-600 mb-3">YAM</h3>
                <p class="g-color-gray-dark-v4">Can help alleviate eating disorders, coughs and lung deficiencies. Also helps strengthen the spleen and stomach, invigoration the Qi</p>
              </div>
              <!-- End Icon Blocks -->
            </div>
            
            <div class="col-sm-6 col-lg-3">
              <!-- Icon Blocks -->
              <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">02</span>
                <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                  <img src="{% static 'image/jingpai/component/wolfberry.jpg' %}" alt="wolfberry" class="u-line-icon-pro" style="height: 35px;">
                </span>
                <h3 class="h5 g-color-black g-font-weight-600 mb-3">WOLFBERRY</h3>
                <p class="g-color-gray-dark-v4">Natural aphrodisiac, improves sexual function. Also, beneficial for the blood, liver and eyes.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>
            
            <div class="col-sm-6 col-lg-3">
              <!-- Icon Blocks -->
              <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">03</span>
                <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                  <img src="{% static 'image/jingpai/component/cinnamon.jpeg' %}" alt="cinnamon" class="u-line-icon-pro" style="height: 35px;">
                </span>
                <h3 class="h5 g-color-black g-font-weight-600 mb-3">CINNAMON</h3>
                <p class="g-color-gray-dark-v4">Sooths stomach aches, kidney deficiencies and bloating. It enhances the Yang, dispels cold and relieves pain.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>
            
            <div class="col-sm-6 col-lg-3">
              <!-- Icon Blocks -->
              <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">04</span>
                <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                  <img src="{% static 'image/jingpai/component/cloves.jpeg' %}" alt="cloves" class="u-line-icon-pro" style="height: 35px;">
                </span>
                <h3 class="h5 g-color-black g-font-weight-600 mb-3">CLOVES</h3>
                <p class="g-color-gray-dark-v4">Relieves colds, chest and abdominal pains. Enhances the Yang.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>
            
          </div>
          <!-- End Icon Blocks -->

          <div class="text-center">
            <p class="g-rounded-50 g-pl-25 g-pr-20 g-py-12 g-px-25">
              <span class="g-pos-rel g-top-2">Other herbs: Angelica, Ginseng, Radix Puerariae, Poria cocos, Jujube, Maca powder</span>
            </p>
          </div>
        </div>
      </section>
      <!--end of componet block-->
      
      <!-- Jing Brand -->
      <section class="container g-py-100 g-pb-70" id="brand">
        <div class="row justify-content-between">
          <div class="col-lg-5 g-mb-30">

            <h2 class="h1 g-color-black g-font-weight-600 g-mb-35">
              The <span class="g-color-primary">JING </span>Brand
            </h2>

            <!-- Carousel -->
            <div id="carouselCus1" class="js-carousel js-carousel_single-item-thumbs5__slides g-pb-35"
                 data-infinite="true"
                 data-fade="true"
                 data-animation="linear"
                 data-pagi-classes="u-carousel-indicators-v1 g-bottom-0">
              <div class="js-slide">
                <p class="g-font-style-italic g-font-size-17 mb-4">
                  Jing Brand Co., was founded in 1953, and located at Daye, Hubei Province, China.
                  After more than 60 years of steady development, Jing Brand has become a healthy food-specialized company.
                  As China's top leader in health-care liqueur & spirits industry, Jing brand has developed its renowned flagship product "JING liqueur" and many other products.
                </p>
                <p class="g-font-style-italic g-font-size-17 mb-4">
                  Jing Brand began its international business in 2000. After fifteen years of development, "JING Liqueur" has been exported to Hong Kong, macau, Southeast Asia,
                  Europe, North America, Africa etc, and gained high speed growth every year.
                </p>
              </div>
              
            </div>
            <!-- End Carousel -->
          </div>

          <div class="col-lg-6 g-mt-50 g-mb-30">
            <!-- Article -->
            <article class="u-shadow-v24 u-shadow-v21--hover g-pos-rel g-bg-white g-transition-0_3 g-pa-10 rounded">
              <img class="img-fluid w-100" src="{% static 'image/jingpai/brand.jpg' %}" alt="Image description">
            </article>
            <!-- End Article -->
          </div>
        </div>
      </section>
      <!-- End of Jing Brand -->
      
      
      <!-- Event Blocks -->
      <div id="events">
        {% if events %}
        <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-pos-rel g-overflow-hidden" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <div class="divimage dzsparallaxer--target w-100" style="height: 110%; background-image: url({% static 'image/jingpai/event/background.jpg' %});"></div>

        <!--<div class="g-pos-abs g-top-0 g-left-0"-->
             <!--data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}px,0)", initial:"-70", mid:"0", final:"70"}]'-->
             <!--data-animation="fadeInDown"-->
             <!--data-animation-duration="1500">-->
          <!--<img class="img-fluid" src="" alt="Image description">-->
        <!--</div>-->
        <!--<div class="g-pos-abs g-bottom-minus-70 g-right-0"-->
             <!--data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}px,0)", initial:"70", mid:"0", final:"-70"}]'-->
             <!--data-animation="fadeInUp"-->
             <!--data-animation-duration="1500">-->
          <!--<img class="img-fluid" src="../../assets/img-temp/1920x1080/img16.png" alt="Image description">-->
        <!--</div>-->

        <div class="container g-z-index-1 g-pt-150 g-pb-120">
          <div class="text-center g-mb-50">
            <span class="g-color-black-opacity-0_8 g-font-weight-600 g-font-size-default text-uppercase mb-2">Events</span>
            <h2 class="h1 g-color-black g-font-weight-600">Finding Our events</h2>
            <!--<p class="lead g-color-black-opacity-0_8"></p>-->
          </div>

          
          <div class="row align-items-center">
            {% for event in events %}
            <div class="col-md-4 g-mb-30">
              <!-- Article -->
              <article class="u-shadow-v21 text-center g-bg-white rounded g-px-20 g-py-80">
                <!-- Article Header -->
                <header class="g-mb-10">
                  <h4 class="h6 g-color-black g-font-weight-700 text-uppercase mb-0">{{ event.date }}</h4>
                  <!--<span class="g-color-black g-font-weight-700 g-font-size-20">$</span>-->
                  <span class="g-color-black g-font-weight-600 g-font-size-30">{{ event.name }}</span>
                  <!--<span class="g-color-gray-dark-v4 g-font-size-17">/ mnt</span>-->
                </header>
                <!-- End Article Header -->

                <!-- Article Content -->
                <ul class="list-unstyled g-color-gray-dark-v4 g-mb-30">
                  <li class="my-2">{{ event.des }}</li>
                  <!--<li class="my-2"><strong class="g-color-black">22</strong> Reviews</li>-->
                  <!--<li class="my-2"><strong class="g-color-black">12/5</strong> Support</li>-->
                </ul>
  
                <img src="{{ MEDIA_URL }}{{ event.img }}" alt="{{ event.name }}" class="img-fuild w-100"/>

                <!--<a class="btn u-btn-outline-black g-rounded-50 g-py-12 g-px-30" href="#">Book now</a>-->
                <!-- End Article Content -->
              </article>
              <!-- End Article -->
            </div>
            {% endfor %}
          </div>
          
          
        </div>
      </section>
        {% endif %}
      </div>
      <!-- End of Event Blocks -->
      
      <!-- Footer -->
      <div class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60" id="footer">
        <div class="container">
          <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
              <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Us</h2>
              </div>

              <p>Oriental Drinks Ltd is the official agency of JING Brand in United Kindom.</p>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <!--<div class="col-lg-3 col-md-6 g-mb-40 g-mb-0&#45;&#45;lg">-->
              <!--<div class="u-heading-v2-3&#45;&#45;bottom g-brd-white-opacity-0_8 g-mb-20">-->
                <!--<h2 class="u-heading-v2__title h6 text-uppercase mb-0">Latest Posts</h2>-->
              <!--</div>-->

              <!--<article>-->
                <!--<h3 class="h6 g-mb-2">-->
                  <!--<a class="g-color-white-opacity-0_8 g-color-white&#45;&#45;hover" href="#">Incredible template</a>-->
                <!--</h3>-->
                <!--<div class="small g-color-white-opacity-0_6">May 8, 2017</div>-->
              <!--</article>-->

              <!--<hr class="g-brd-white-opacity-0_1 g-my-10">-->

              <!--<article>-->
                <!--<h3 class="h6 g-mb-2">-->
                  <!--<a class="g-color-white-opacity-0_8 g-color-white&#45;&#45;hover" href="#">New features</a>-->
                <!--</h3>-->
                <!--<div class="small g-color-white-opacity-0_6">June 23, 2017</div>-->
              <!--</article>-->

              <!--<hr class="g-brd-white-opacity-0_1 g-my-10">-->

              <!--<article>-->
                <!--<h3 class="h6 g-mb-2">-->
                  <!--<a class="g-color-white-opacity-0_8 g-color-white&#45;&#45;hover" href="#">New terms and conditions</a>-->
                <!--</h3>-->
                <!--<div class="small g-color-white-opacity-0_6">September 15, 2017</div>-->
              <!--</article>-->
            <!--</div>-->
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
              <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Useful Links</h2>
              </div>

              <nav class="text-uppercase1">
                <ul class="list-unstyled g-mt-minus-10 mb-0">
                  <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                    <h4 class="h6 g-pr-20 mb-0">
                      <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">About Us</a>
                      <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                    </h4>
                  </li>
                  <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                    <h4 class="h6 g-pr-20 mb-0">
                      <a class="g-color-white-opacity-0_8 g-color-white--hover" href="http://www.jingpai.com">www.jingpai.com</a>
                      <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                    </h4>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6">
              <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Our Contacts</h2>
              </div>

              <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(../../assets/img/maps/map2.png);">
                <!-- Location -->
                <div class="d-flex g-mb-20">
                  <div class="g-mr-10">
                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                      <i class="fa fa-map-marker"></i>
                    </span>
                  </div>
                  <p class="mb-0">38 Portland Road, London, UK, SE25 4PF.</p>
                </div>
                <!-- End Location -->

                <!-- Phone -->
                <div class="d-flex g-mb-20">
                  <div class="g-mr-10">
                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                      <i class="fa fa-phone"></i>
                    </span>
                  </div>
                  <p class="mb-0">Tony: (+44) 07738407055</p>
                </div>
                <!-- End Phone -->

                <!-- Email and Website -->
                <div class="d-flex g-mb-20">
                  <div class="g-mr-10">
                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                      <i class="fa fa-globe"></i>
                    </span>
                  </div>
                  <p class="mb-0">
                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:info@htmlstream.com">info@orientaldrinks.com</a>
                  </p>
                </div>
                <!-- End Email and Website -->
              </address>
            </div>
            <!-- End Footer Content -->
          </div>
        </div>
      </div>
      <!-- End Footer -->
      
      <!-- Copyright Footer -->
      <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
              <div class="d-lg-flex">
                <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2017 © All Rights Reserved.</small>
                <!--<ul class="u-list-inline">-->
                  <!--<li class="list-inline-item">-->
                    <!--<a class="g-color-white-opacity-0_8 g-color-white&#45;&#45;hover" href="#">Privacy Policy</a>-->
                  <!--</li>-->
                  <!--<li class="list-inline-item">-->
                    <!--<span>|</span>-->
                  <!--</li>-->
                  <!--<li class="list-inline-item">-->
                    <!--<a class="g-color-white-opacity-0_8 g-color-white&#45;&#45;hover" href="#">Terms of Use</a>-->
                  <!--</li>-->
                  <!--<li class="list-inline-item">-->
                    <!--<span>|</span>-->
                  <!--</li>-->
                  <!--<li class="list-inline-item">-->
                    <!--<a class="g-color-white-opacity-0_8 g-color-white&#45;&#45;hover" href="#">License</a>-->
                  <!--</li>-->
                  <!--<li class="list-inline-item">-->
                    <!--<span>|</span>-->
                  <!--</li>-->
                  <!--<li class="list-inline-item">-->
                    <!--<a class="g-color-white-opacity-0_8 g-color-white&#45;&#45;hover" href="#">Support</a>-->
                  <!--</li>-->
                <!--</ul>-->
              </div>
            </div>

            <div class="col-md-4 align-self-center">
              <ul class="list-inline text-center text-md-right mb-0">
                <li class="list-inline-item g-mx-10" title="Facebook"
                    data-toggle="tooltip"
                    data-placement="top">
                  <a href="https://www.facebook.com/jingpaiuk?ref=br_rs" class="g-color-white-opacity-0_5 g-color-white--hover">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <!--<li class="list-inline-item g-mx-10" title="Skype"-->
                    <!--data-toggle="tooltip"-->
                    <!--data-placement="top">-->
                  <!--<a href="#" class="g-color-white-opacity-0_5 g-color-white&#45;&#45;hover">-->
                    <!--<i class="fa fa-skype"></i>-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li class="list-inline-item g-mx-10" title="Linkedin"-->
                    <!--data-toggle="tooltip"-->
                    <!--data-placement="top">-->
                  <!--<a href="#" class="g-color-white-opacity-0_5 g-color-white&#45;&#45;hover">-->
                    <!--<i class="fa fa-linkedin"></i>-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li class="list-inline-item g-mx-10" title="Pinterest"-->
                    <!--data-toggle="tooltip"-->
                    <!--data-placement="top">-->
                  <!--<a href="#" class="g-color-white-opacity-0_5 g-color-white&#45;&#45;hover">-->
                    <!--<i class="fa fa-pinterest"></i>-->
                  <!--</a>-->
                <!--</li>-->
                <li class="list-inline-item g-mx-10" title="Twitter"
                    data-toggle="tooltip"
                    data-placement="top">
                  <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-10" title="Dribbble"
                    data-toggle="tooltip"
                    data-placement="top">
                  <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                    <i class="fa fa-dribbble"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Copyright Footer -->
   

      <a class="js-go-to u-go-to-v1" href="#"
         data-type="fixed"
         data-position='{
           "bottom": 15,
           "right": 15
         }'
         data-offset-top="400"
         data-compensation="#js-header"
         data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
      </a>
    </main>

    <!-- JS Global Compulsory -->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.easing/js/jquery.easing.js' %}"></script>
    <script src="{% static 'assets/vendor/tether.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>

    <!-- JS Implementing Plugins -->
    <script src="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
    <script src="{% static 'assets/vendor/dzsparallaxer/dzsparallaxer.js' %}"></script>
    <script src="{% static 'assets/vendor/dzsparallaxer/dzsscroller/scroller.js' %}"></script>
    <script src="{% static 'assets/vendor/dzsparallaxer/advancedscroller/plugin.js' %}"></script>
    <script src="{% static 'assets/vendor/chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/image-select/src/ImageSelect.jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/masonry/dist/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/slick-carousel/slick/slick.js' %}"></script>

    <!-- JS Unify -->
    <script src="{% static 'assets/js/hs.core.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.header.js' %}"></script>
    <script src="{% static 'assets/js/helpers/hs.hamburgers.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.scroll-nav.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.go-to.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.sticky-block.js' %}"></script>
    <script src="{% static 'assets/js/helpers/hs.height-calc.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.carousel.js' %}"></script>

    <!-- JS Custom -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        $('#carousel1').slick('setOption', 'responsive', [{
          breakpoint: 1200,
          settings: {
            slidesToShow: 3
          }
        }, {
          breakpoint: 992,
          settings: {
            slidesToShow: 2
          }
        }, {
          breakpoint: 768,
          settings: {
            slidesToShow: 2
          }
        }, {
          breakpoint: 576,
          settings: {
            slidesToShow: 1
          }
        }, {
          breakpoint: 446,
          settings: {
            slidesToShow: 1
          }
        }], true);

        // Header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu plugin
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        $.HSCore.helpers.HSHeightCalc.init();
      });

      $(window).on('load', function () {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
          duration: 700,
          easing: 'easeOutExpo',
          over: $('.u-secondary-navigation')
        });

        // initialization of masonry.js
        $('.masonry-grid').imagesLoaded().then(function () {
          $('.masonry-grid').masonry({
            // options
            columnWidth: '.masonry-grid-sizer',
            itemSelector: '.masonry-grid-item',
            percentPosition: true
          });
        });

        // initialization of sticky blocks
        $.HSCore.components.HSStickyBlock.init('.js-sticky-block');
      });
    </script>

    <script>
      // Facebook Like
      window.fbAsyncInit = function () {
        // init the FB JS SDK
        FB.init({
          appId: '1972702999621713',
          status: true,
          xfbml: true,
          version: 'v2.3'
        });
        if (typeof gaSocialTracking != 'undefined') gaSocialTracking.trackFacebook();
        setTimeout(function () {
          if (typeof window.fbCallback == 'function') {
            window.fbCallback();
          }
        }, 3000); // to make sure FB was loaded
      };
      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      // Facebook Like

      // Twitter Follow
      window.twttr = (function (d, s, id) {
        var t, js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        return window.twttr || (t = {
          _e: [], ready: function (f) {
            t._e.push(f)
          }
        });
      }(document, "script", "twitter-wjs"));
      twttr.ready(function (twttr) {
        twttr.events.bind('tweet', function (event) {
          if (typeof gaSocialTracking != 'undefined') gaSocialTracking.trackTwitter();
        });
      });
      // Twitter Follow
    </script>
  </body>
</html>
